<?xml version="1.0" encoding="utf-8"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes">
  <TotalTime>415</TotalTime>
  <Words>637</Words>
  <Application>Microsoft Office PowerPoint</Application>
  <PresentationFormat>Panorámica</PresentationFormat>
  <Paragraphs>42</Paragraphs>
  <Slides>9</Slides>
  <Notes>1</Notes>
  <HiddenSlides>0</HiddenSlides>
  <MMClips>0</MMClips>
  <ScaleCrop>false</ScaleCrop>
  <HeadingPairs>
    <vt:vector size="6" baseType="variant">
      <vt:variant>
        <vt:lpstr>Fuentes usadas</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>9</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Tema</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>2</vt:i4>
      </vt:variant>
      <vt:variant>
        <vt:lpstr>Títulos de diapositiva</vt:lpstr>
      </vt:variant>
      <vt:variant>
        <vt:i4>9</vt:i4>
      </vt:variant>
    </vt:vector>
  </HeadingPairs>
  <TitlesOfParts>
    <vt:vector size="20" baseType="lpstr">
      <vt:lpstr>DM Serif Display</vt:lpstr>
      <vt:lpstr>Calibri Light</vt:lpstr>
      <vt:lpstr>Montserrat SemiBold</vt:lpstr>
      <vt:lpstr>Aptos Display</vt:lpstr>
      <vt:lpstr>Arial</vt:lpstr>
      <vt:lpstr>Montserrat Medium</vt:lpstr>
      <vt:lpstr>Aptos</vt:lpstr>
      <vt:lpstr>Montserrat</vt:lpstr>
      <vt:lpstr>Calibri</vt:lpstr>
      <vt:lpstr>Tema de Office</vt:lpstr>
      <vt:lpstr>Diseño personalizado</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
      <vt:lpstr>Presentación de PowerPoint</vt:lpstr>
    </vt:vector>
  </TitlesOfParts>
  <Company/>
  <LinksUpToDate>false</LinksUpToDate>
  <SharedDoc>false</SharedDoc>
  <HyperlinksChanged>false</HyperlinksChanged>
  <AppVersion>16.0000</AppVersion>
</Properties>
